/* Hue Under Construction Template */
/* CosmicLabs http://themeforest.net/user/CosmicLabs */


/* === GENERAL === */

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #0dcecb;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
}

a img {
	border: none;
	outline: none;
}

.backstretch:after {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	z-index: 100;
	background:linear-gradient(to right top, rgba(0, 113, 188, 0.7), rgba(0, 255, 201, 0.7))
}
	/* === background-color: rgba(10, 171, 186, 0.4)  === */

.mini-container {
	width: 80%;
	max-width: 1070px;
	position: relative;
	margin:0 auto;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h5{
    color: #fff;
    margin: 0 auto;
    margin-left: 6%;
    font-weight: 500;
    text-transform: uppercase;
}

.section {
	width: 100%;
	max-height: 74px;
	background-color: white;
	position: relative;
	z-index: 2000;
	display: block;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* === MAIN SECTION === */

.mini-container.main-mini-container {
	height: 90%;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.section-main {
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,0.8);
	position: relative;
	z-index: 2000;
	display: block;
}

.title {
	width: 100%;
	height: auto;
	position: absolute;
	top: 44%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	/*! text-align: center; */
}

.section-main h1 {
	font-weight: 800;
	/*! font-size: 64px; */
	text-transform: uppercase;
	margin: 0px;
	line-height: 35px;
	/*! margin-bottom: 30px; */
	color: rgba(255,255,255,1);
}

.section-main img.logo {
	max-height: 100px;
	margin-bottom: 101px;
	margin-left: -37px;
	height: 4em;
}

.section-main a.img-link {
	border: none !important;
}

.section-main a {
	text-decoration: none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.section-main a:hover {
	border-bottom: 1px solid rgba(255,255,255,0.8);
}

/* === COUNTDOWN === */

.section.countdownsection {
	background-color: transparent!important;
}

#countdown {
	width: 100%;
	position: relative;
	height: auto;
	max-width: 82%;
	display: inline;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

#countdown .countdown-elem {
	display: inline-block;
	position: relative;
	width: 24%;
	height: auto;
	min-height: 70px;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid rgba(255,255,255,0.3);
}

#countdown .countdown-elem:first-child {
	border-left: none;
}

#countdown .countdown-elem h2 {
	margin: 0px;
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	line-height: 100px;
}

#countdown .countdown-elem span {
	display: block;
	text-transform: uppercase;
	color: rgba(255,255,255,0.6);
	margin-top: -100px;
	font-weight: 400;
}

.social-block {
    position: fixed;
    bottom: 35px;
    display: inline-table;
    z-index: 10000;
}

a.footer-social {
    margin-right: 15px;    padding: 10px;    
    color: white;
    width: 25px;    height: 25px;    line-height: 25px;    text-align: center;    transition: all 0.5s ease;    -webkit-transition: all 0.5s ease;    -moz-transition: all 0.5s ease;    -o-transition: all 0.5s ease;
}

.social-block {    margin-left: 35px;
}

a.fo-twitter.footer-social:hover {
    background-color: #55acee;
}

a.fo-facebook.footer-social:hover {
    background-color: #3b5998;
}

a.fo-instagram.footer-social:hover {
    background-color: #3f729b;
}

a.fo-github.footer-social:hover {
    background-color: #666666;
}

a.fo-dribbble.footer-social:hover {
    background-color: #ea4c89;
}

a.fo-behance.footer-social:hover {
    background-color: #1769ff;
}

a.fo-tumblr.footer-social:hover {
    background-color: #35465c;
}


/* === RESPONSIVE CSS === */

@media all and (max-width: 989px) {
	#countdown .countdown-elem h2 {
		font-size: 32px;
	}
	
	#countdown .countdown-elem span {
	font-size: 9px;
	margin-top: 0px;
	}
}

@media all and (max-width: 799px) {
	#countdown .countdown-elem {
		font-size: 14px;
	}
	
	#countdown .countdown-elem h2 {
		font-size: 18px;
	}

}

@media all and (max-height: 399px) {
	.section-main a.down-link {
		display: none;
	}
	
	.section-main {
		font-size: 14px;
	}
}

@media all and (max-width: 599px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	.mini-container {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	h2.light-h2, h2.coloured-h2 {
		margin-bottom: 40px;
	}
	
	.title h1 {
		font-size: 36px;
		margin-bottom: 20px;
	}
	
	.section-main img.logo {
		max-height: 50px;
		margin-bottom: 40px;
	}
	
	#countdown .countdown-elem {
		width: 23%;
	}
	
	#countdown .countdown-elem.elem-days, #countdown .countdown-elem.elem-hours {
		margin-bottom: 0;
	}
	
	#countdown .countdown-spacer {
		width: 8%;
	}
	
	#countdown .countdown-spacer.central-spacer {
		display: none;
	}

}